<div id="<%= dom_id account %>">
  <p>
    <strong>Conta:</strong>
    <%= account.account_number %>
  </p>

  <p>
    <strong>Digito:</strong>
    <%= account.digit %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= account.provider.name %>
  </p>

</div>
